@import url('https://fonts.googleapis.com/css2?family=Faustina&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
*{
    margin: 0px;
}
body{
    font-family: 'Faustina', serif;    
}
a:link, a:visited{
    text-decoration: none;
    color: black;
}
.navegador{
    margin: 0px;
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 30px;
    align-items: center;
}
.navegador img{
    height: 20px;
    margin-left: 70px;    
}
.navegador a{
    padding-right: 15px;
    font-size: 20px;
}
#gsf {
    background: black;
    border-radius: 5px;
    text-align: center;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px;
}
#gsf a:link, a:visited{
    color: white;
}
.parte1{
    margin-top: 0px;
    margin-right: 150px;
    margin-left: 150px;
    padding-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}
.parte1 h1{
    font-size: 80px;
}
.cu1ti{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.cu1ti2{
    margin-top: 30px;
    align-self: center;
    border: 3px solid black;
    border-radius: 25px;
    background: #06945b;
    width: 400px;
    text-align: center;
    align-content: center;
    font-size: 20px;
}
.cu1ti p{
    font-size: 20px ;
    width: 600px;
    align-self: center;
    padding: 25px;
    line-height: 30px;
}
.imagen1{
    align-self: center;
    height: 500px;
    width: 650px;
    padding-bottom: 100px;
}
.cu1ti a{
    padding: 5px;
    height: 33px;
    width: 300px;
    align-self: center;
    border-radius: 15px;
}
#arrow{
    margin-right: 10px;
    height: 18px;
    width: 25px;
    align-content: baseline;
    padding-left: 5px;
}
.nccr{
    color: rgba(36, 37, 37, 0.493);
}
.cu1ct{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.cu1ct img{
    height: 20px;
}
.cuerpo2{
    margin-right: 12%;
    margin-left: 12%;
    align-content: center;
}
.contenedor{
    display: flex;
    margin-left: 80px;
    height: 400px;
}
.contenedor img{
    width: 700px;
    height: 540px;
}
.sell{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 150px;
    padding: 30px;
}
.sell h1{
    font-size: 60px;
}
.sell a{
    margin: 50px;
    padding: 15px;
    background: #f1b280;
    text-align: center;
    width: 150px;
    height: 25px;
    border: 2px solid black;
    border-radius: 45px;
    color: black;
}
.sell p{
    height: 200px;
    width: 500px;
    line-height: 30px;
    font-size: 20px;
}
.redes{
    margin-top: 100px;
    display: flex;
    padding: 30px;
}
.redes p{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 32px;
}
#facebook{
    font-family: 'Paytone One', sans-serif;
}
#instagram{
    font-family: 'Playball', cursive;
}
.ct{
    margin-top: 140px;
    display: flex;
    height: 250px;
    flex-direction: row;   
    border: 2px solid black;
    border-radius: 55px;
    background: #f1b280;     
}
.comment{
    width: 800px;
    text-align: center;
    align-self: center;
    padding: 80px;
}
.comment p{
    width: 500px;
    padding-bottom: 30px;
    text-align: left;
    font-size: 17px;
}
.user{
    display: flex;
    align-items: center;
}
.stars{
    display: flex;
    flex-flow: row wrap;
    align-self: end;
    padding-right: 20px;
    padding-bottom: 40px;
    width: 400px;
}
.stars h1{
    padding-left: 10px;
}